# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.metadata
frontend/pubspec.lock
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/App.framework/
frontend/ios/Flutter/Flutter.framework/

# NestJS / Node.js
backend/node_modules/
backend/dist/
backend/coverage/
backend/.env
backend/.env.local
backend/.nest/

# Umum
.DS_Store
*.log
.env
Thumbs.db